*{
    margin: 0;
    padding: 0;
}
.form{
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    background-color: aquamarine;
    padding: 10px;
}
label{
    width: 60%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}
input{
    color: rgba(79, 77, 77, 0.625);
}