/* .fimg{
    position: relative;
    right: -230px;
}; */
.fifth{
    background: url("https://digitalfactoryindia.com/storage/2020/02/shape1-home4.png");
    background-size:contain;
}
.carousx{
    font-size: 22px;
    font-weight: 100;
}