img{
    position: relative;
    width: 100%;
    height: 120%;
    
}
.butn{
    color:#115A9F;
    background-color: white;
    border-color: white;
    font-weight: 600;
}
.butn i{
    color: red !important;
}