*{
    padding: 0;
    margin: 0;
  }
  .navbar .logo{
    font-size: 44px !important;
    font-weight: 900 !important;
    color: #F3525A !important;
  }
  .nav-link{
    font-size: 18px !important;
    margin-right: 25px; 
    color:#152440 !important;
  }
  .carousel-caption button:hover{
    background-color: #152440;
    border-color: #152440;
  }
  .carousel-item .carouse{
    z-index: 1;
    background-color: #1524409d;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .contents{
    position: relative;
    top: 40%;
  }
  .carousel-indicators{
    z-index: -1 !important;
  }
  .details{
    background-color: #F3525A !important;
  }
  .container-fluid span,
  .container-fluid h5{
    color: #F3525A !important;
  }
  .container-fluid .inf{
    width: 30%;
    background-color: #F3525A !important;
    border-color: #F3525A;
  }
  .container-fluid .inf:hover{
    width: 35%;
    background-color: #152440 !important;
    border-color: #152440;
  }
  .details .rounded-pill{
    font-size: 26px;
    text-align: center;
    background-color: white !important;
    border-color: #F3525A;
    color: #F3525A;
  }
  .icons{
    margin-bottom: 20px;
  }
  .icon{
    font-size: 34px !important;
    font-weight: 900 !important;
    background-color: #F3525A !important;
    color: aliceblue !important;
  }
  .four .rounded-circle,
  .cards{
    background-color: #F3525A !important;
    border-color: #F3525A;
  }
  .end{
    background-color: #F3525A !important;
  }
  .end .container{
    width:50% !important;
    border-radius:none !important;
  }
  .end .sign{
    background-color: #152440;
    border-color: #152440;
    color:aliceblue !important;
    font-weight: bold;
    font-size: 18px;
  }
  .ends{
    background-color: #152440;
  }
  .arrow{
    color: #F3525A;
    margin-right: 10px;
  }
  .ends .rounded-circle{
    background-color: #F3525A;
    border-color: #F3525A;
  }